.main {
	padding: var(--main-padding);
	width: fit-content;
	margin: 0 auto;
}

.form > h2 {
	margin: 12px 0px;
}

.container {
	background-color: var(--bg-container);
	display: flex;
	border-radius: 5px;
	overflow: hidden;
}

.container > img {
	height: 529.5px;
}

.form {
	padding: 15px 40px;
	width: 360px;
}

.form > input {
	padding: 6px 0px;
	outline: none;
	width: 100%;
	border: none;
	border-bottom: 1.5px solid black;
	color: black;
	background-color: inherit;
	font-size: 16px;
	margin: 12px 0px;
}

.form > input::placeholder {
	color: black;
	font-family: var(--font-family);
}

.form > button {
	margin: 20px 0px;
	background-color: var(--bg-detail);
	color: white;
	width: 100%;
	border-radius: 5px;
	padding: 5px 0px;
	font-size: 18px;
	font-weight: 600;
	font-family: var(--font-family);
	display: block;
}

.form > p:nth-of-type(2) {
	margin: 12px 0px;
	text-align: center;
}

.link {
	color: black;
	text-decoration: none;
	font-weight: 500;
}

.form > p:nth-of-type(1){
	color:red;
	margin: 19px 0px 7px;
}


.verifyContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.verifyForm {
  background-color: var(--bg-container);
  border-radius: 5px;
  text-align: center;
  padding:20px 40px;
}
.verifyForm input{
	border:none;
	background-color: inherit;
	border-bottom: 1.5px solid black;
	outline: none;
	font-size: 30px;
	width:125px;
	letter-spacing: 4px; 
}
.verifyForm>p{
	margin:20px;
}
.verifyForm span{
	font-weight: 600;
	cursor: pointer;
}
.verifyForm button{
	margin: 15px auto;
	border-radius: 5px;
	color: var(--bg-detail);
	background-color: inherit;
	border: 1.5px solid var(--bg-detail);
	padding:3px 8px;
	font-weight: 600;
	font-size: 15px;
}
.verifyForm > p:nth-of-type(2){
	color:red;
}
@media (min-width:520px) and (max-width:1111px) {
	.container {
		flex-direction: column;
	}

	.container > img {
		width: 440px;
		height: auto;
		order: 2;
	}

	.form {
		order: 1;
	}
}

@media (max-width:520px) {
	.container {
		flex-direction: column;
	}

	.container > img {
		width: 300px;
		height: auto;
		order: 2;
	}

	.form {
		padding: 25px;
		width: 250px;
		order: 1;
	}

	.form > h2 {
		margin: 10px 0px;
		font-size: 18px;
	}

	.form > input {
		font-size: 14px;
		margin: 10px 0px;
	}

	.form > button {
		margin: 18px 0px;
		font-size: 14px;
	}

	.form > p:nth-of-type(2) {
		margin: 10px 0px;
		font-size: 14px;
	}
	.form > p:nth-of-type(1) {
		font-size: 14px;
		margin: 15px 0px 3px;
	}
}