
.user{
    display: flex;
    width:1000px;
    margin:50px auto;
}
.container{
    background-color: var(--bg-container);
    flex: 1;
    border-radius: 5px;
    overflow: hidden;
    margin-left:40px;
}
.sideBar img{
    margin:0px 20px 20px 20px;
    width:120px;
}
.avatar{
    text-align: center;
}
.navLink{
    display: block;
    color: black;
    text-decoration: none;
    font-size: 17px;
    font-weight: 500;
    padding:10px 10px;
}
.active, .navLink:hover{
    color: var(--bg-detail);
}
.header{
    background-color: white;
    font-weight: 500;
    padding:7px;
    text-align: center;
}
