.pagination{
    height:33px;
    margin:20px auto;
}
.header{
    border-bottom:var(--line);
    padding:10px 0px;
    overflow-x: auto;
    display: flex;
    white-space: nowrap;
    scrollbar-width: none;
}
.link{
    text-decoration: none;
    color:black;
    padding:0px 20px;
    font-weight: 500;
    color:var(--bg-detail);
}
.active{
    text-decoration: underline;
    text-underline-offset: 5px;
    text-decoration-thickness: 2px;
}