.product {
    background-color: white;
    width:100%;
    box-sizing: border-box;
    /* padding: 10px; */
    border-radius: 5px;
    color: black;
    text-decoration: none;
    /* font-size: 14px; */
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
    transition: 0.4s ease;
}

.product:hover {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.product > img {
    width: 100%;
    aspect-ratio: 3/2;
}

.product :nth-child(2),
.product :nth-child(3){
    margin: 5px 0px;
    font-weight: 600;
}


.product :nth-child(3) {
    color: var(--bg-detail);
}

.product :nth-child(4) {
    margin: 5px 0px;
}

.product :nth-child(5) {
    margin: 5px 0px 0px;
}




/* .product {
    background-color: white;
    width:100%;
    box-sizing: border-box;
    padding: 10px;
    border-radius: 5px;
    color: black;
    text-decoration: none;
    font-size: 14px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
    transition: 0.4s ease;
    background-color: aquamarine;
}

.product:hover {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.img {
    width: 100%;
    aspect-ratio: 3/2;
}

.name,
.price {
    margin: 5px 0px;
    font-weight: 600;
}

.price {
    color: var(--bg-detail);
}

.sold {
    margin: 5px 0px;
}

.rate {
    margin: 5px 0px 0px;
} */