.main {
    padding: var(--main-padding);
}

.container {
    display: grid;
    grid-template-columns: 470px 530px;
    gap: 40px;
    padding: 30px;
    background-color: var(--bg-container);
    width: fit-content;
    margin: 0 auto;
    border-radius: 5px;
}

.container>img {
    grid-column: 1;
    grid-row: 1;
    width: 100%;
    align-self: 3/2;
    border-radius: 5px;
}

.container>:nth-child(2) {
    grid-column: 2;
    grid-row: 1;
}

.container>:nth-child(3) {
    grid-column: 1;
    grid-row: 2;
}

.container>:nth-child(4) {
    grid-column: 2;
    grid-row: 2/ span 3;
}

.container>:nth-child(5) {
    grid-column: 1;
    grid-row: 3;
}

@media (min-width:1000px) and (max-width: 1200px) {
    .container {
        grid-template-columns: 370px 430px;
    }
}
@media (min-width:790px) and (max-width: 1000px) {
    .container {
        grid-template-columns: 300px 330px;
        gap:30px;
        padding: 20px;
    }
}

@media (max-width: 790px) {

    .container>:nth-child(2) {
        grid-column: 1;
        grid-row: 2;
    }

    .container>:nth-child(3) {
        grid-row: 3;
    }

    .container>:nth-child(4) {
        grid-column: 1;
        grid-row: 4;
    }

    .container>:nth-child(5) {
        grid-row: 5;
    }
}

@media (min-width:650px) and (max-width: 790px) {
    .container {
        grid-template-columns: 480px;
    }
}
@media (max-width: 650px) {
    .container {
        grid-template-columns: 1fr;
    }
}