.main {
    padding: var(--main-padding);
}

.container {
    margin: 0 auto;
    max-width: 1000px;
}

@media (min-width:720px) and (max-width:800px) {
    .container{
        max-width: 700px;
    }
}

@media (min-width:480px) and (max-width:720px) {
    .container{
        max-width: 600px;
    }
}

@media (max-width:480px) {
    .container{
        max-width: 400px;
    }
}